button {
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  cursor: pointer;
  background-color: red;
  border-radius: 50%;

  img {
    width: 100%;
  }

  :hover {
    filter: brightness(0.8);
  }
}
