.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  cursor: pointer;

  h1 {
    font-size: 1rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .removeButton {
    width: 10px;
    position: relative;
    left: 70px;
    top: -10px;
  }

  .sprite {
    max-width: 8rem;
  }
}
