* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%; //14px
  }
}

h1 {
  color: red;
}
